html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 10px;
    margin-bottom: 140px;
}

@media (min-width: 992px) {
    body {
        margin-bottom: 100px;
    }
}

#articles {
    margin-top: 60px;
}

#articles > .active > .text-muted {
    color: #DDDDDD;
}

.post-content img.pull-left {
    float: left;
    margin: 2px 8px 2px 0px;
    max-width: 35%;
    max-height: 500px;
}

.post-content img.pull-right {
    float: right;
    margin: 1px 0px 2px 8px;
    max-width: 35%;
    max-height: 500px;
}

footer {
    padding-bottom: 10px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
